--- 
extension: html
filter:    haml
--- 
!!!
%html

  %head
    %title
      = @page.title
      = @page.title ? "-" : ""
      macournoyer's blog
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    %meta{:name => "author", :content => "Marc-Andr&eacute; Cournoyer"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/screen.css", :type => "text/css", :media => "screen, projection"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/print.css", :type => "text/css", :media => "print"}/
    /[if IE]
      %link{:rel => "stylesheet", :href => "/stylesheets/ie.css", :type => "text/css", :media => "screen, projection"}/
    %link{:rel => "stylesheet", :href => "/stylesheets/code.css", :type => "text/css", :media => "screen, projection"}/
    
    %link{:rel => "alternate", :type => "application/atom+xml", :title => "Atom Feed", :href => "/blog.atom"}/
    
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"}
    
  %body#default
    #root
      #side
        %h1#logo
          %div
            %a{:href => "/"}<
              - "macournoyer".split("").each_with_index do |letter, index|
                %span{:class => "letter-#{index}"}>= letter
              %span.com> .com
        #about!= render :partial => "/about"
          
      #container
        - if @page.blog_post
          .article
            %div.date{:title => @page.created_at.to_s}
              %span.day= @page.created_at.strftime('%d')
              %span.month= @page.created_at.strftime('%b')
            %h1!= @page.title
            != preserve(@content)
            
            %div#disqus_thread
            %script{:type => "text/javascript", :src => "http://disqus.com/forums/macournoyer/embed.js"}
            %noscript
              %a{:href => "http://macournoyer.disqus.com/?url=ref"} View the discussion thread.
            %a.dsq-brlink{:href => "http://disqus.com"}
              blog comments powered by
              %span.logo-disqus Disqus
        - else
          != @content
      #root_footer
    #footer
      %a.logo{:href => "/"} macournoyer.com
      %ul.menu
        %li
          %a{:href => "/blog"} blog
        %li
          %a{:href => "http://github.com/macournoyer"} projects
        %li
          %a{:href => "mailto:macournoyer@gmail.com"} email me
    
    :javascript
      (function() {
      		var links = document.getElementsByTagName('a');
      		var query = '?';
      		for(var i = 0; i < links.length; i++) {
      			if(links[i].href.indexOf('#disqus_thread') >= 0) {
      				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      			}
      		}
      		document.write('<script type="text/javascript" src="http://disqus.com/forums/macournoyer/get_num_replies.js' + query + '"></' + 'script>');
      	})();
      
